.card {
  padding: 10px;
  width: 300px;
}

ctw-city-preview {
  height: 150px;
  display: block;
}

.card-body {
  height: 140px;
}

.spinner-container {
  position: relative;
  top: calc(50% - 40px);
}

